<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<li class="nav-item dropdown" sec:authorize="isAuthenticated()">
    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
        프로필
    </a>
    <div class="dropdown-menu dropdown-menu-sm-right" aria-labelledby="userDropdown">
        <h6 class="dropdown-header">
            <span sec:authentication="name">Username</span>
        </h6>
        <a class="dropdown-item" th:href="@{'/profile/' + ${#authentication.name}}">프로필</a>
        <a class="dropdown-item" >스터디</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" th:href="@{'/settings/profile'}">설정</a>
        <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/logout}" method="post">
            <button class="dropdown-item" type="submit">로그아웃</button>
        </form>
    </div>
</li>
</body>
</html>